<article id="<%= post.layout %>-<%= post.slug %>" class="article article-type-<%= post.layout %><%= (post.direction && post.direction.toLowerCase() === 'rtl' ? ' rtl' : '') %>" itemscope itemprop="blogPost">
    <div class="article-inner">
        <% if (post.banner) { %>
            <%- partial('post/banner') %>
        <% } %>
        <% if (post.link || post.title) { %>
            <header class="article-header">
                <%- partial('post/title', { class_name: 'article-title' }) %>
                <% if (post.layout != 'page') { %>
                    <div class="article-meta">
                        <%- partial('post/date', { class_name: 'article-date', date_format: null }) %>
                        <%- partial('post/category') %>
                        <%- partial('post/tag') %>
                    </div>
                <% } %>
            </header>
        <% } %>
        <%- partial('post/gallery') %>
        <div class="article-entry" itemprop="articleBody">
        <% if (index && post.excerpt) { %>
            <p><%- post.excerpt %></p>
            <p class="article-more-link">
                <a href="<%- url_for(post.path) %>#more"><%= __('article.more') %></a>
            </p>
        <% } else { %>
            <% if (!index && post.toc) { %>
                <div id="toc" class="toc-article">
                <strong class="toc-title"><%= __('article.catalogue') %></strong>
                    <%- toc(post.content) %>
                </div>
            <% } %>
            <%- post.content %>
        <% } %>
        </div>

        <% if(!index && theme.donate.enable && (post.donate || post.donate == undefined)){ %>
            <div id="donate" style="text-align:center">
            <%- partial('donate') %>
            </div>
        <% } %>
        

        <% if (!index) { %>
            <div>
              <ul class="post-copyright">
                <li class="post-copyright-author">
                <strong>本文作者：</strong><%= theme.copyright.siteAuthor%></a>
                </li>
                <li class="post-copyright-link">
                <strong>本文链接：</strong>
                <a href="<%= url %>" title="<%= page.title %>"><%= url %></a>
                </li>
                <li class="post-copyright-link">
                <strong>发布时间：</strong>
                <a href="" title="{{ page.title }}"><%= post.date.format("YYYY年M月D日 - HH时MM分") %></a>
                </li>
                <li class="post-copyright-license">
                <strong>版权声明： </strong>
                本博客所有文章除特别声明外，均采用 <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/cn/" rel="external nofollow" target="_blank">CC BY-NC-SA 3.0 CN</a> 许可协议。转载请注明出处！
                </li>
              </ul>
            <div>
        <% } %>

        <footer class="article-footer">
            <%- partial('share/index', { post: post }) %>
            <%- partial('comment/counter', { post: post }) %>
        </footer>
    </div>
    <% if (!index) { %>
        <%- partial('post/nav') %>
    <% } %>
</article>

<% if (!index) { %>
    <%- partial('comment/index') %>
<% } %>